@font-face {
    font-family: 'Muller-Light';
    src: url("../fonts/Muller/MullerLight.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: 'Muller';
    src: url("../fonts/Muller/MullerRegular.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: 'Muller-Italick';
    src: url("../fonts/Muller/MullerRegularItalic.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: 'Muller-Medium';
    src: url("../fonts/Muller/MullerMedium.otf") format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: 'Muller-Bold';
    src: url("../fonts/Muller/MullerExtraBold.otf") format("opentype");
    font-weight: 700;
}

@font-face {
    font-family: 'Muller-Extra-Bold';
    src: url("../fonts/Muller/MullerExtraBold.otf") format("opentype");
    font-weight: 800;
}

@font-face {
    font-family: 'Muller-Heavy';
    src: url("../fonts/Muller/MullerHeavy.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: 'MullerBlack';
    src: url("../fonts/Muller/MullerBlack.otf") format("opentype");
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Muller', 'Arial', sans-serif;
    line-height: 1.2;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: #ebebeb;
    overflow-x: hidden;
    counter-reset: a;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* start header */
.header-new {
    position: relative;
    background-color: #304b51;
    padding: 10px 0 50px;
}

.header-dark {
    background-color: #282828;
}

.bg__line {
    position: absolute;
    background-color: #454545;
    width: 1px;
    top: 0;
    bottom: 0;
}

@media (max-width: 1300px) {
    .bg__line {
        display: none;
    }
}

.header__line1 {
    top: 50%;
    left: 20px;
}

.header__line2 {
    left: calc((100% - 1170px) / 4 + 10px);
}

.header__line3 {
    left: calc((100% - 1170px) / 2);
    bottom: 50%;
}

.header__line4 {
    right: calc((100% - 1170px) / 4 + 20px);
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.logo {
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo a img {
    width: 248px;
}

.menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-evenly;
    width: 35px;
    height: 35px;
    padding: 1px 0;
    background-color: #282828;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 101;
}

.menu-btn span {
    width: 23px;
    height: 3px;
    background-color: #f7d100;
}

@media (min-width: 993px) {
    .menu-btn {
        display: none;
    }
}

.menu-new {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px 0;
}

.menu-services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-new__link {
    margin-right: 65px;
    font-size: 14px;
    text-transform: uppercase;
}

@media (max-width: 991px) {
    .menu-new__link {
        margin-right: 40px;
    }
}

.menu-new__link:last-child {
    margin-right: 0;
}

.menu-services .menu-new__link {
    margin-right: 35px;
    text-transform: none;
    font-family: "Muller", sans-serif;
}

.menu-services .menu-new__link:hover {
    text-decoration: underline;
}

.menu-services .menu-new__link:last-child {
    margin-right: 0;
}

.mobile-menu {
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
}

@media (max-width: 992px) {
    .mobile-menu {
        position: fixed;
        top: -100%;
        right: 0;
        bottom: 100%;
        left: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        width: 60%;
        margin: 0;
        background-color: #282828;
        z-index: 100;
    }
}

@media (max-width: 375px) {
    .mobile-menu {
        width: 80%;
    }
}

.link-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 10px;
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
}

.nav-buttons__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47%;
    height: 35px;
    font-size: 13px;
    font-weight: 800;
    font-family: "Muller-Bold", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    border-radius: 18px;
    border: 2px solid #f9d50f;
    transition: all ease .3s;
}

.nav-buttons__link:hover {
    color: #282828;
    text-decoration: none;
    background-color: #f7d100;
    box-shadow: 0 0 29px rgba(255, 224, 52, 0.35);
    transition: all ease .3s;
}

@media (max-width: 992px) {
    .link-block {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 70%;
    }

    .menu-services .menu-new__link {
        margin-right: 0;
    }

    .nav-buttons {
        flex-direction: column;
        align-items: center;
        height: 22%;
        justify-content: space-around;
    }

    .nav-buttons__link {
        width: 50%;
    }
}

@media (max-width: 700px) {
    .nav-buttons__link {
        width: 95%;
    }
}

.text-white {
    color: #fff !important;
}

.breadcrumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: .25rem;
}

.breadcrumb {
    margin-bottom: 0;
    padding: 0;
    background-color: #304b51;
    border-radius: 0;
    padding-bottom: 17px;
}

.menu-show {
    top: 0;
    bottom: 0;
}

.mouse-aside {
    position: absolute;
    bottom: 10px;
    right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 30px;
    align-items: center;
    text-transform: uppercase;
    color: #848484;
    font-family: 'Proxima-Nova', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    background-image: url(../images/mouse-icon.png);
    background-repeat: no-repeat;
    background-position: center left;
    transform: rotate(90deg);
}

@media (max-width: 576px) {
    .mouse-aside {
        display: none;
    }
}

.mouse-aside span {
    margin-top: 1px;
    font-size: 12px;
    font-family: inherit;
}

.mouse-aside__line {
    margin-top: 1px;
    width: 15px;
    height: 1px;
    margin-right: 10px;
    background-color: #ebebeb;
}

.header__bottom {
    display: flex;
}

.header__bottom-left {
    position: relative;
    display: flex;
    flex-direction: column;
}

.header__bottom-left-h1 {
    width: 590px;
    margin: 60px 0 0;
    color: #ffffff;
    font-size: 34px;
    text-transform: uppercase;
    font-family: "Muller-Bold", sans-serif;
}

.header__bottom-left-h11 {
    width: 590px;
    margin: 10px 0 70px;
    font-size: 34px;
    text-transform: uppercase;
    color: #f7d100;
    font-family: "Muller-Extra-Bold", sans-serif;
}

.header__bottom-left > h3 {
    width: 480px;
    margin: 0 0 15px;
    color: #ffffff;
    font-family: "Muller-Bold", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.header__bottom-left > p {
    width: 480px;
    margin: 0;
    color: #ffffff;
    font-size: 17px;
    font-family: "Muller-Medium", sans-serif;
}

.header__bottom-left-block {
    display: flex;
    align-items: flex-start;
    width: 430px;
    margin-top: 90px;
    padding: 13px 27px 7px 23px;
    background-color: #ffffff;
    border-radius: 0 33px;
}

.header__bottom-left-block p {
    margin: 0 0 0 13px;
    color: #282828;
    font-family: "Muller-Bold", sans-serif;
    font-size: 19px;
    line-height: 1.4;
}

.header__bottom-right {
    position: relative;
    display: flex;
}

.header__bottom-right-text {
    position: absolute;
    top: 60px;
    right: -95px;
}

.header__bottom-right-big {
    position: absolute;
    top: 0;
    right: -12px;
    width: 650px;
}

.header__bottom-right > p {
    display: block;
    margin: auto 0 -70px;
    padding: 55px 70px 45px;
    color: #282828;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 4px 6px 19px rgba(0, 0, 0, 0.17);
}

/* end header */

.enterprise {
    margin-top: 75px;
}

.enterprise h2 {
    max-width: 830px;
    width: 100%;
    margin: 0 auto 50px;
    color: #282828;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.enterprise__block {
    display: flex;
    align-items: flex-start;
}

.enterprise__block-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
}

.enterprise__block-right-top {
    margin: 0;
    color: #282828;
    font-family: "Muller-Bold", sans-serif;
    font-size: 23px;
}

.enterprise__block-yellow1 {
    margin: 25px 0 40px;
    width: 139px;
    height: 6px;
    background-color: #ffd400;
}

.enterprise__block-right-bottom {
    margin: 0;
    color: #282828;
    font-family: "Muller-Medium", sans-serif;
    font-size: 21px;
    line-height: 1.2;
}

.enterprise__block-right-bottom span {
    color: #282828;
    font-size: 21px;
    font-family: "Muller-Bold", sans-serif;
}

.enterprise__block-yellow2 {
    margin: 20px 0 0 auto;
    width: 139px;
    height: 6px;
    background-color: #ffd400;
}

.wifi-top {
    margin-top: -5px;
    padding-bottom: 70px;
    overflow-x: hidden;
}

.wifi-top .container {
    position: relative;
}

.wifi__left-bd {
    position: absolute;
    top: 20px;
    left: -97%;
    width: 100%;
    height: 430px;
    border-radius: 10px;
    background-color: #ffffff;
}

.wifi__block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 990px;
    padding: 43px 0 28px 75px;
}

.wifi__block:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 100vw;
    height: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    z-index: -1;
}

.wifi__head {
    margin: 0 0 27px;
    color: #282828;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 33px;
    text-transform: uppercase;
    text-align: center;
}

.wifi__description {
    margin: 0 0 40px;
    color: #262626;
    font-family: "Muller-Bold", sans-serif;
    font-size: 19px;
}

.wifi__btn {
    padding: 15px 40px;
    color: #282828;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #f7d100;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all ease .3s;
}

.wifi__btn:hover {
    transform: scale(1.1);
}

.wifi__bottom {
    display: flex;
    align-items: flex-start;
    max-width: 870px;
    width: 100%;
    margin-top: 40px;
    margin-left: 80px;
}

.wifi__bottom p {
    margin: 0 0 0 40px;
    color: #282828;
    font-family: "Muller-Bold", sans-serif;
    font-size: 20px;
}

.how-we-use {
    margin-top: 55px;
}

.how-we-use .container {
    position: relative;
}

.how-we-use__head {
    position: absolute;
    top: 210px;
    left: -140px;
    display: flex;
    flex-direction: column;
    margin: 0;
    color: #282828;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    text-transform: uppercase;
    transform: rotate(-90deg);
}

.how-we-use__head span {
    margin-left: 60px;
    color: #282828;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 41px;
    text-transform: uppercase;
}

.how-we-use__description {
    width: 760px;
    margin: 0 auto 40px;
    color: #282828;
    font-family: "Muller-Bold", sans-serif;
    font-size: 20px;
}

.how-we-use__items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-we-use__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 370px;
    height: 227px;
    margin-right: 35px;
    padding-top: 30px;
}

.how-we-use__item h4 {
    margin: 0 0 20px 50px;
    color: #282828;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 22px;
    text-transform: uppercase;
}

.how-we-use__item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    z-index: -1;
}

.how-we-use__item > div {
    display: flex;
    align-items: center;
}

.how-we-use__item > div p {
    margin: 0 0 0 17px;
    color: #262626;
    font-family: "Muller-Bold", sans-serif;
    font-size: 18px;
}

.how-we-use__items-line1 {
    display: flex;
    width: auto;
    margin-bottom: 15px;
}

.how-we-use__items-line2 {
    display: flex;
    width: auto;
    margin-bottom: 30px;
    margin-left: 115px;
}

.how-we-use__items-line3 {
    position: relative;
    display: flex;
    width: auto;
    z-index: 2;
}

.section-marketing {
    margin-top: -60px;
    padding: 150px 0 80px;
    background-color: #282828;
}

.marketing {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.marketing__marketing-head {
    margin: 0 0 80px;
    color: #f7d100;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 33px;
    text-transform: uppercase;
}

.marketing-cards {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.marketing-card {
    position: relative;
    width: 300px;
    margin: 0 40px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.marketing-card__card-text {
    margin-bottom: 30px;
    color: #ebebeb;
    font-family: "Muller-Bold", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

.marketing-card__card-p {
    margin-top: 30px;
    padding: 0 5px;
    color: #ffffff;
    font-family: "Muller-Medium", sans-serif;
    font-size: 16px;
}

.marketing-card:nth-child(1):after {
    position: absolute;
    top: 125px;
    left: 95%;
    content: "";
    width: 80px;
    height: 55px;
    background: url("../images/arrow-1.png") no-repeat 50% 50%;
    z-index: 99;
}

.marketing-card:nth-child(2):after {
    position: absolute;
    top: 125px;
    left: 95%;
    content: "";
    width: 80px;
    height: 55px;
    background: url("../images/arrow-1.png") no-repeat 50% 50%;
    z-index: 99;
}

.visitors {
    margin-top: -10px;
}

.visitors__top {
    display: flex;
    align-items: center;
    width: 915px;
    margin-left: auto;
}

.visitors__top-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.visitors__top-right h2 {
    margin: 0 0 35px 40px;
    width: 480px;
    color: #282828;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 33px;
    text-transform: uppercase;
    text-align: center;
}

.visitors__top-right p {
    display: flex;
    flex-direction: column;
    margin: 0 0 50px;
    color: #282828;
    font-family: "Muller-Medium", sans-serif;
    font-size: 18px;
}

.visitors__top-right p span {
    color: #282828;
    font-family: "Muller-Medium", sans-serif;
    font-size: 18px;
    text-indent: 20px
}

.visitors__top-right > span {
    margin-left: 50px;
    color: #282828;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 22px;
}

.visitors__bottom {
    position: relative;
    top: -15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 875px;
    margin-left: auto;
}

.visitors__bottom button {
    padding: 15px 40px;
    color: #282828;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.16px;
    border: none;
    border-radius: 5px;
    background-color: #f7d100;
    outline: none;
    cursor: pointer;
    transition: all ease .3s;
}

.visitors__bottom button:hover {
    transform: scale(1.1);
}

.visitors__bottom span {
    margin-top: 35px;
    margin-bottom: -15px;
    margin-left: 25px;
    color: #282828;
    font-family: "Muller-Medium", sans-serif;
    font-size: 18px;
}

.platform {
    margin-top: 70px;
    padding: 50px 0 65px;
    background-color: #ffffff;
}

.platform .container {
    position: relative;
}

.platform .container:before {
    content: '';
    position: absolute;
    top: 250px;
    left: -70px;
    width: 16px;
    height: 197px;
    border-radius: 8px;
    background-color: #f7d100;
}

.platform .container:after {
    content: '';
    position: absolute;
    bottom: -95px;
    right: 0;
    width: 16px;
    height: 197px;
    border-radius: 8px;
    background-color: #f7d100;
}

.platform__phone {
    position: absolute;
    top: 0;
    right: 0;
}

.platform__head {
    width: max-content;
    padding: 60px 0 90px;
    color: #282828;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 33px;
    text-transform: uppercase;
    text-align: center;
}

.platform__block {
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 100%;
}

.platform__block-text {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.platform__block-text p:first-child {
    margin: 0 0 55px;
    color: #0b338a;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 22px;
}

.platform__block-text p:last-child {
    margin: 0;
    color: #282828;
    font-family: "Muller-Medium", sans-serif;
    font-size: 22px;
}

.platform__items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.platform__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27%;
    margin-top: 70px;
    margin-right: 45px;
}

.platform__item:nth-child(3n+3) {
    margin-right: 0;
}

.platform__item > div {
    height: 165px;
}

.platform__item span {
    margin-top: 28px;
    color: #282828;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 18px;
}

.winning {
    margin-top: 125px;
    margin-bottom: 80px;
}

.winning__head {
    max-width: 630px;
    width: 100%;
    margin: 0 auto 70px;
    color: #282828;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 33px;
    text-align: center;
    text-transform: uppercase;
}

.winning__items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.winning__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 31%;
}

.winning__item:nth-child(2) {
    margin-top: 100px;
}

.winning__item-head {
    display: flex;
    align-items: flex-start;
}

.winning__item-head p {
    margin: 7px 0 0 28px;
    color: #282828;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
}

.winning__item > span {
    margin-top: 38px;
    color: #282828;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 19px;
}

.increase {
    padding: 55px 0 90px;
    background-color: #282828;
}

.increase__top {
    display: flex;
    align-items: flex-start;
    margin: 0 50px 60px 60px;
}

.increase__top img {
    position: relative;
    top: -95px;
}

.increase__top-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 45px;
}

.increase__top-text h2 {
    display: flex;
    flex-direction: column;
    margin: 0 0 55px;
    color: #ffd400;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 37px;
    text-transform: uppercase;
}

.increase__top-text h2 span {
    margin-left: 140px;
    color: #ffd400;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 37px;
    text-transform: uppercase;
}

.increase__top-text p {
    margin: 0;
    color: #ffffff;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 23px;
}

.increase__text {
    margin: 62px 0 0 170px;
    color: #ffffff;
    font-family: "Muller-Medium", sans-serif;
    font-size: 23px;
}

.increase__bottom {
    display: flex;
    align-items: center;
    margin: 45px 50px 0 96px;
}

.increase__bottom button {
    padding: 15px 32px 11px;
    color: #282828;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.16px;
    white-space: nowrap;
    border: none;
    border-radius: 5px;
    background-color: #f7d100;
    outline: none;
    cursor: pointer;
    transition: all ease .3s;
}

.increase__bottom button:hover {
    transform: scale(1.1);
}

.increase__bottom p {
    margin: 0 0 0 55px;
    color: #ffffff;
    font-family: "Muller-Medium", sans-serif;
    font-size: 20px;
    letter-spacing: 0.16px;
}

.video {
    margin-top: 50px;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video__video-head {
    margin-bottom: 50px;
    color: #000000;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

.video__video-text {
    width: 88%;
    color: #1f1815;
    font-family: "Muller-Medium", sans-serif;
    font-size: 16px;
    text-align: center;
}

.video-steps {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
}

.video-step {
    position: relative;
    margin: 0 20px;
    width: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.video-step__step-text-rotate {
    width: 80px;
    position: absolute;
    top: 100px;
    left: -6%;
    color: #285397;
    font-family: "Muller-Bold", sans-serif;
    font-size: 31px;
    text-transform: uppercase;
    letter-spacing: 1.54px;
    transform: rotate(-90deg);
}

.video-step__step-text-rotate:before {
    position: absolute;
    top: 16%;
    left: -35%;
    width: 20px;
    height: 20px;
    content: '';
    background: url(../images/step-2.png) no-repeat 50% 50%;
    transform: rotate(90deg);
    z-index: 99;
}

.video-step__step-text {
    width: 200px;
    margin-left: 60px;
    margin-top: 15px;
    color: #1f1815;
    font-family: "Muller-Medium", sans-serif;
    font-size: 16px;
}

.video-step:nth-child(2n) {
    margin-top: 30px;
}

.step-head {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.step-head__step-head-text {
    margin: 0;
    margin-left: 10px;
    color: #1f1815;
    font-family: "Muller-Bold", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

.step-img {
    width: 90px;
    height: 60px;
}

.step-img:before {
    counter-increment: a;
    content: "0" counter(a);
    position: absolute;
    top: 27%;
    left: 6%;
    font-family: MullerMedium, sans-serif;
    font-size: 24px;
    color: #ffffff;
    z-index: 99;
}

.video-block {
    position: relative;
    width: 90%;
    height: 300px;
    border: 6px solid #ffd633;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.video-block-text {
    width: 530px;
    position: relative;
    left: 90px;
    padding: 20px 0;
    background-color: #ebebeb;
}

.video-block-text-top {
    position: relative;
    display: flex;
    align-items: center;
}

.video-block-text-top:after {
    content: '';
    position: absolute;
    top: 33px;
    right: -30px;
    width: 98px;
    height: 79px;
    background: url(../images/video_arrow.png) no-repeat 50% 50%;
}

.video-block-text__video-text {
    margin: 0 0 0 25px;
    color: #285397;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 22px;
    text-transform: uppercase;
}

.video-block-text__video-text span {
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    color: #f40224;
}

.video-block-text__video-text2 {
    margin: 12px 0 0;
    color: #1f1815;
    font-family: "Muller-Bold", sans-serif;
    font-size: 16px;
}

.video-play {
    position: absolute;
    top: 25%;
    left: -5%;
}

.video-btn {
    position: absolute;
    bottom: -25px;
    right: 8%;
    padding: 15px 32px 11px;
    color: #282828;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.16px;
    border: none;
    border-radius: 5px;
    background-color: #f7d100;
    outline: none;
    cursor: pointer;
    transition: all ease .3s;
}

.video-btn:hover {
    transform: scale(1.1);
}

.professional .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-block {
    width: 110%;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 33px 0;
    background-color: #ffffff;
}

.text-block__head {
    width: 65%;
    margin-top: 150px;
    margin-bottom: 75px;
    text-align: center;
    color: #282828;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.text-block__items {
    display: flex;
}

.text-block__item {
    width: 230px;
    margin: 0 20px;
}

.text-block__item-head {
    margin-bottom: 25px;
    color: #1f1815;
    font-size: 15px;
    font-family: "Muller-Bold", sans-serif;
}

.text-block__item-text {
    color: #1f1815;
    font-size: 15px;
    font-family: "Muller", sans-serif;
}

.text-block .fortinet {
    margin-left: 80px;
    margin-right: auto;
}

.product-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    margin-top: -65px;
}

.product-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    height: 320px;
    box-shadow: -13px 10px 62px 19px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    background-color: #ffffff;
}

.product-item:first-child:before {
    content: '';
    position: absolute;
    top: 13px;
    left: -17px;
    width: 17px;
    height: 168px;
    background-color: #fdd000;
}

.product-item:last-child:before {
    content: '';
    position: absolute;
    top: 13px;
    right: -17px;
    width: 17px;
    height: 168px;
    background-color: #fdd000;
}

.product-item__product-text {
    margin: 25px 25px 15px;
    color: #000000;
    font-family: "Muller-Bold", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 29.33px;
}

.item-img {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
}

.calculator {
    padding-bottom: 90px;
    overflow-x: hidden;
}

.calculator__head {
    margin: 100px 0 -17px;
    color: #000000;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 52px;
    text-transform: uppercase;
    text-align: center;
}

.calculator__form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 0 auto;
    padding: 75px 55px 55px;
    box-shadow: -13px 10px 62px 19px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    background-color: #ffffff;
}

.calculator__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}

.calculator__item-head {
    margin: 0 0 20px;
    color: #1b1b1b;
    font-family: "Muller-Bold", sans-serif;
    font-size: 19px;
    font-weight: 400;
}

.calculator__slide .irs-min,
.calculator__slide .irs-max,
.calculator__slide .irs-single {
    top: auto;
    bottom: -15px;
    background: none;
    color: #1b1b1b;
    font-family: "Muller-Medium", sans-serif;
    font-size: 16px;
}

.calculator__slide .irs-bar-edge,
.calculator__slide .irs-bar {
    height: 8px;
    background: #f4ad49;
    border: 1px solid #f4ad49;
}

.calculator__slide .irs-line {
    height: 8px;
    background: #fbf8f1;
}

.calculator__slide .irs-slider {
    top: 26px;
    width: 22px;
    height: 22px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.22), inset 0 -2px 0 rgba(0, 0, 0, 0.2);
    background: #aa9699;
}

.checkbox {
    margin-bottom: 15px;
}

.checkbox input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}

.checkbox__text {
    position: relative;
    padding: 0 0 0 44px;
    color: #1b1b1b;
    font-family: "Muller-Medium", sans-serif;
    font-size: 19px;
    cursor: pointer;
}

.checkbox__text:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 22px;
    height: 22px;
    border-radius: 6px;
    border: 2px solid rgba(89, 52, 66, 0.2);
    background-color: #fbf8f1;
    transition: .2s;
}

.checkbox__text:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 6px;
    width: 11px;
    height: 8px;
    background: url(../images/check.svg) no-repeat 50% 50%;
    background-size: cover;
    opacity: 0;
    transition: .2s;
}

.checkbox input:checked + .checkbox__text:before {
    border: 2px solid #51bf87;
}

.checkbox input:checked + .checkbox__text:after {
    opacity: 1;
}

.calculator__item-check-text {
    margin: 0 0 25px 42px;
    color: #1b1b1b;
    font-family: "Muller-Medium", sans-serif;
    font-size: 14px;
}

.calculator__item-block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.radio {
    width: 40%;
    margin-bottom: 20px;
}

.radio:nth-child(2n+1) {
    margin-right: auto;
}

.radio input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}

.radio__text {
    position: relative;
    padding: 0 0 0 44px;
    color: #1b1b1b;
    font-family: "Muller-Medium", sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.radio__text:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid #51bf87;
    background-color: #fbf8f1;
    transition: .2s;
}

.radio__text:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 7px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #51bf87;
    opacity: 0;
    transition: .2s;
}

.radio input:checked + .radio__text:before {
    border: 2px solid #51bf87;
}

.radio input:checked + .radio__text:after {
    opacity: 1;
}

.calculator__price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.calculator__price p {
    font-family: "Muller-Bold", sans-serif;
    font-size: 19px;
    text-transform: uppercase;
}

.calculator__price p span {
    margin-left: 10px;
    font-family: "Muller-Bold", sans-serif;
    font-size: 19px;
    text-transform: uppercase;
}

.calculator__price-total {
    margin: 0 30px 0 0;
    color: #285397;
}

.calculator__price-monthly {
    margin: 0;
    color: #51bf87;
}

.calculator__btn {
    position: absolute;
    bottom: -20px;
    left: 50%;
    padding: 15px 48px 12px;
    font-family: "Muller-Bold", sans-serif;
    font-size: 20px;
    color: #121000;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    white-space: nowrap;
    border-radius: 5px;
    border: none;
    background-color: #f7d100;
    transform: translateX(-50%);
    outline: none;
    cursor: pointer;
    transition: all ease .3s;
}

.calculator__btn:hover {
    transform: translateX(-50%) scale(1.1);
}

.calculator__form-bg-left {
    position: absolute;
    top: 61px;
    left: -311px;
    z-index: -1;
}

.calculator__form-bg-right {
    position: absolute;
    top: 61px;
    right: -289px;
    z-index: -1;
}

.section-wifi {
    margin-top: 60px;
}

.wifi {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.wifi__wifi-head {
    margin: 0 0 20px 80px;
    color: #285397;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}

.wifi__wifi-head-p {
    margin: 0 0 30px 170px;
    color: #1f1815;
    font-family: "Muller-Bold", sans-serif;
    font-size: 23px;
}

.wifi-block {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wifi-item {
    width: 33%;
    display: flex;
    align-items: center;
    margin: 30px 30px;
}

.wifi-item__wifi-item-text {
    margin: 0 0 0 40px;
    color: #1f1815;
    font-family: "Muller-Bold", sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.wifi-btn {
    position: absolute;
    bottom: -22%;
    left: 17%;
    padding: 15px 48px 12px;
    font-family: "Muller-Bold", sans-serif;
    font-size: 20px;
    color: #121000;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    white-space: nowrap;
    border-radius: 5px;
    border: none;
    background-color: #f7d100;
    outline: none;
    cursor: pointer;
    transition: all ease .3s;
}

.wifi-btn:hover {
    transform: scale(1.1);
}

.wifi-hand {
    position: absolute;
    right: -3%;
    bottom: -6%;
}

/* start footer */
.footer-services {
    margin-top: 70px;
    padding-bottom: 75px;
    background-color: #282828;
}


.footer-services__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}


.footer-services__top-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.footer-services__top-left > a {
    margin-left: -15px;
    margin-bottom: 15px;
}


.footer-nav-buttons {
    display: flex;
    align-items: center;
}


.footer-nav-buttons__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 283px;
    height: 35px;
    font-size: 13px;
    font-weight: 800;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    border-radius: 18px;
    border: 2px solid #f9d50f;
    transition: all ease .3s;
}


.footer-nav-buttons__link:hover {
    color: #282828;
    text-decoration: none;
    background-color: #f7d100;
    box-shadow: 0 0 29px rgba(255, 224, 52, 0.35);
    transition: all ease .3s;
}


.footer-services__top-right-images a {
    position: relative;
    right: -13px;
    transition: all ease .3s;
}


.footer-services__top-right-images a:hover {
    color: transparent;
    text-decoration: none;
    transform: scale(1.1);
    transition: all ease .3s;
}


.footer-services__top-right-images a:hover img {
    transform: scale(1.1);
    transition: all ease .3s;
}


.footer-services__top-right > span {
    font-family: 'Muller-Heavy', sans-serif;
    color: #ffffff;
    font-size: 23px;
    font-weight: 400;
    text-transform: uppercase;
}


.mr60 {
    margin-right: 60px;
}


.footer-services__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 58px;
}


.footer-services__social {
    display: flex;
    align-items: center;
}


.footer-services__social .social__item {
    width: 26px;
    height: 26px;
    margin: 0;
    margin-right: 25px;
    color: #000000;
    background-color: #ffffff;
}


.footer-services__social .social__item:last-child {
    margin-right: 0;
}


.footer-services__social .social__item .fa {
    font-size: 16px;
}


.social__item:hover {
    color: #f7d100;
    text-decoration: none;
}


.footer-index .container {
    padding: 0;
}


.footer-index .footer-services__top {
    align-items: center;
}


.footer-index .footer-services__top-left {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 80px;
}


.footer-index .footer-services__top-left > a {
    margin-bottom: 0;
}


.footer-index .footer-services__top-right {
    min-width: 489px;
}


.footer-index__center {
    display: flex;
    align-content: flex-start;
    margin-top: -10px;
}


.footer-index__nav {
    margin-left: 50px;
    padding: 0;
    list-style: none;
}


.footer-index__nav li {
    margin-bottom: 10px;
}


.footer-index__nav li:last-child {
    margin-bottom: 0;
}


.footer-index__nav li a {
    color: #ffffff;
    font-family: "Muller", sans-serif;
    font-size: 14px;
    font-weight: 400;
}


.footer-index__nav li a:hover {
    color: #fad50c;
    text-decoration: underline;
}

.footer-index__nav li > ul {
    padding-left: 40px;
    color: #fad50c!important;
    text-decoration: underline;
}

.footer-nav-active {
    color: #fad50c !important;
    text-decoration: underline;
}


.footer-index__nav-head {
    margin-bottom: 30px !important;
}


.footer-index__nav-head a {
    color: #ffffff;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 17px !important;
    font-weight: 800 !important;
    line-height: 21px;
    text-transform: uppercase;
}


.social__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    margin: 8px;
    color: #fff;
    font-size: 12px;
    background-color: #282828;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}


.footer-index__phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 70px;
    color: #ffffff;
    font-family: "Muller", sans-serif;
    font-size: 50px;
    font-weight: 400;
    cursor: pointer;
}


.footer-services__top-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 489px;
    height: 197px;
    margin-top: -50px;
    padding: 0 12px;
    box-shadow: -8px 8px 53px 1px rgba(0, 0, 0, 0.4);
    background-color: #282828;
    z-index: 2;
    margin-right: -59px;
}


.footer-services__top-right-images a img {
    width: 180px;
    transition: all ease .3s;
}


.footer-index__phone:hover {
    color: #ffffff;
    text-decoration: none;
}


.footer-index__phone span {
    margin-left: 22px;
    font-family: "Muller-Extra-Bold", sans-serif;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
}


.footer-index .footer-nav-buttons__link {
    width: 273px;
    height: 43px;
    border-radius: 22px;
}


.footer-index .footer-services__bottom {
    margin-left: 50px;
}


.mr40 {
    margin-right: 40px;
}

.mb0 {
    margin-bottom: 0;
}


.footer-services__top-right-images > span {
    display: none;
    margin-top: 10px;
    font-family: 'Muller-Heavy', sans-serif;
    color: #ffffff;
    font-size: 23px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
}

/* end footer */

@media (max-width: 1300px) {
    .header__bottom-right-text {
        display: none;
    }
    .footer-services__top-right {
        margin-right: 0;
    }
}

@media (max-width: 1250px) {
    .footer-nav-buttons {
        align-items: flex-start;
        flex-direction: column;
    }

    .footer-nav-buttons__link {
        margin-bottom: 20px;
    }

    .footer-services__bottom {
        flex-direction: column;
    }

    .footer-services__social {
        margin-top: 20px;
    }

    .footer-index .footer-nav-buttons {
        flex-direction: row;
    }

    .footer-index__center {
        flex-wrap: wrap;
        margin-top: 20px;
        justify-content: space-between;
    }

    .footer-index__phone {
        margin: 20px auto 0;
    }

    .footer-index .footer-services__top-left {
        flex-direction: column;
    }
    .video-block-text {
        width: 500px;
        left: 60px;
    }
    .text-block {
        width: 100%;
    }
    .how-we-use__items-line3 {
        flex-wrap: wrap;
    }
    .how-we-use__items-line3 .how-we-use__item {
        width: 380px;
        margin: 0 auto 10px;
    }
}

@media (max-width: 1200px) {
    .header__bottom-right-big,
    .mouse-aside {
        display: none;
    }
    .header__bottom {
        flex-direction: column;
    }
    .header__bottom-left-h1,
    .header__bottom-left-h11,
    .header__bottom-left > h3,
    .header__bottom-left > p {
        width: 100%;
        text-align: center;
    }
    .header__bottom-left-block {
        margin: 20px auto;
    }
    .wifi__block {
        padding-left: 0;
    }
    .how-we-use__head {
        position: initial;
        margin-bottom: 10px;
        text-align: center;
        transform: rotate(0);
    }
    .how-we-use__head span {
        margin-left: 0;
    }
    .how-we-use__description {
        text-align: center;
    }
    .how-we-use__items-line1,
    .how-we-use__items-line2 {
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 0;
        margin-left: 0;
    }
    .how-we-use__item {
        width: 380px;
        margin: 0 auto 10px;
    }
    .marketing-card {
        width: 260px;
    }
    .platform__phone {
        display: none;
    }
    .platform__block {
        max-width: 100%;
    }
    .increase__top img {
        display: none;
    }
    .increase__top-text {
        margin-left: 0;
    }
    .increase__top-text h2,
    .increase__top-text p {
        width: 100%;
        text-align: center;
    }
    .increase__top-text h2 span {
        margin: 0;
    }
    .increase__text {
        margin-left: 0;
        text-align: center;
    }
    .increase__bottom {
        justify-content: space-between;
        margin: 45px 0 0;
    }
    .increase__bottom p {
        margin: 0;
    }
    .video-steps {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .video-step {
        margin: 20px 50px;
    }
    .video-step:nth-child(2n) {
        margin-top: 20px;
    }
    .video-block {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 20px;
    }
    .video-play {
        position: initial;
    }
    .video-block-text {
        left: 0;
    }
    .video-btn {
        right: auto;
    }
    .text-block__head {
        margin-top: 60px;
    }
    .text-block__items,
    .product-block {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .text-block__item,
    .product-item {
        width: 40%;
        margin: 20px 0;
    }
    .section-wifi {
        margin-top: 0;
    }
    .wifi-hand {
        display: none;
    }
    .wifi {
        align-items: center;
    }
    .wifi__wifi-head,
    .wifi__wifi-head-p {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
    .wifi-block {
        justify-content: space-evenly;
    }
    .wifi__left-bd {
        display: none;
    }
    .wifi__block {
        width: 100%;
    }
    .wifi__block:before {
        left: 0;
        width: 100% ;
    }
    .wifi__bottom {
        margin-left: 0;
    }
    .footer-index .footer-services__bottom {
        margin-left: 0;
    }
    .calculator__form-bg-left,
    .calculator__form-bg-right {
        display: none;
    }
    .footer-index__nav {
        margin-left: 0;
    }
    .marketing-cards {
        width: 100%;
    }
    .marketing-card {
        margin: 0 auto;
    }
}

@media (max-width: 1100px) {
    .wifi-btn {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 992px) {
    .enterprise__block > img {
        display: none;
    }
    .wifi__block {
        padding: 40px 15px;
    }
    .how-we-use__description {
        width: 100%;
    }
    .visitors__top {
        width: 100%;
        margin-top: 20px;
    }
    .visitors__top > img {
        display: none;
    }
    .visitors__top-right {
        align-items: center;
    }
    .visitors__top-right h2 {
        margin-left: 0;
    }
    .visitors__top-right p {
        text-align: center;
    }
    .visitors__top-right > span {
        margin-left: 0;
        text-align: center;
    }
    .visitors__bottom {
        top: 20px;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    .platform__head {
        width: 100%;
        text-align: center;
    }
    .platform__item {
        width: 43%;
        margin: 15px auto;
        text-align: center;
    }
    .platform .container:after {
        right: -20px;
    }
    .winning__items {
        flex-wrap: wrap;
    }
    .winning__item {
        width: 45%;
        margin: 15px auto !important;
    }
    .increase__bottom {
        flex-direction: column;
        align-items: center;
    }
    .increase__bottom p {
        margin-top: 15px;
        text-align: center;
    }
    .calculator__form {
        width: 100%;
    }
    .platform__item:nth-child(3n+3) {
        margin-right: auto;
    }
}

@media (min-width: 768px) and (max-width: 1100px) {
    .footer-services__top {
        flex-direction: column;
        align-items: center;
    }

    .footer-index .footer-services__top-left {
        flex-direction: column;
        width: 489px;
        padding-right: 0;
    }

    .footer-services__top-right-images {
        display: flex;
        flex-direction: row;
    }

    .footer-services__top-right-images {
        display: flex;
        flex-direction: row;
    }

    .footer-services__top-right {
        width: 489px;
        margin-top: 15px;
    }

    .footer-services__top-right-images > span {
        display: block;
        margin-top: 35px;
        margin-left: 15px;
    }
}

@media (max-width: 768px) {

    .footer-index .footer-services__top-left {
        padding-right: 50px;
    }

    .footer-index__nav {
        margin-left: 10px;
    }

    .footer-index__nav:first-child {
        margin-left: 0;
    }

    .footer-index .footer-services__bottom {
        margin-left: 0;
    }

    .marketing-cards {
        flex-direction: column;
        align-items: center;
    }
    .marketing-card {
        width: 300px;
        margin: 0 auto 100px;
        padding: 0 0 30px;
        text-align: center;
    }
    .marketing-card:last-child {
        margin-bottom: 0;
    }
    .marketing-card:nth-child(1):after,
    .marketing-card:nth-child(2):after {
        top: auto;
        bottom: -13%;
        left: auto;
        transform: rotate(90deg);
    }
    .platform__block {
        flex-direction: column;
    }
    .platform__block > img {
        transform: rotate(90deg);
    }
    .platform__head {
        padding: 0;
    }
    .platform__block-text {
        margin-left: 0;
        text-align: center;
    }
    .winning__item {
        width: 100%;
    }
    .video-play {
        width: 100%;
        height: 260px;
    }
    .video-block-text {
        width: 100%;
    }
    .text-block {
        padding-bottom: 100px;
    }
    .text-block__item,
    .product-item {
        width: 260px;
        text-align: center;
    }
    .text-block .fortinet {
        margin-top: 20px;
        margin-left: auto;
    }
    .radio {
        width: 100%;
        margin-bottom: 20px;
    }
    .radio:last-child {
        margin-bottom: 0;
    }
    .calculator__price {
        flex-direction: column;
        align-items: center;
    }
    .calculator__price p {
        margin: 10px 0;
        text-align: center;
    }
    .wifi-item {
        width: 100%;
        margin: 15px;
    }
    .wifi-btn {
        position: initial;
        margin: 15px auto;
        transform: translateX(0);
    }
    .footer-index .footer-services__top-right {
        min-width: auto;
    }
    .footer-services__top-right {
        width: 300px;
        height: 250px;
    }

    .footer-services__top-right-images {
        display: flex;
        flex-direction: column;
    }

    .footer-services__top-right-images a {
        margin: 0;
    }

    .footer-index .footer-services__top-right {
        min-width: auto;
    }

    .footer-services__top-right > span {
        display: none;
    }

    .footer-services__top-right-images > span {
        display: block;
    }
    .enterprise__block-right {
        margin-left: 0;
    }
    .video__video-head {
        text-align: center;
    }
    .text-block__head {
        width: 100%;
    }
    .winning {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .calculator__head {
        margin-top: 40px;
    }
    .how-we-use {
        margin-top: 0;
    }
    .footer-services {
        padding-bottom: 0;
    }
}

@media (max-width: 600px) {
    .footer-services__top {
        flex-direction: column;
        align-items: center;
    }

    .footer-services__top-left {
        align-items: center;
    }

    .footer-nav-buttons__link {
        margin-right: 0;
    }

    .footer-services__top-right {
        margin-top: 20px;
    }

    .footer-index .footer-services__top-left {
        padding-right: 0;
    }

    .footer-index .footer-nav-buttons {
        flex-direction: column;
    }

    .footer-index__center {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .footer-index__nav {
        width: 220px;
        margin-left: 0;
    }
    .platform .container:before,
    .platform .container:after {
        display: none;
    }
}

@media (max-width: 576px) {
    .platform__item {
        width: 300px;
    }
    .video-block-text-top:after {
        display: none;
    }
    .video-block-text-top > img {
        display: none;
    }
    .video-block-text__video-text,
    .video-block-text__video-text2 {
        text-align: center;
    }
    .header__bottom-left-block,
    .visitors__top-right h2 {
        width: 100%;
    }
    .wifi__bottom > img {
        display: none;
    }
    .wifi__bottom p {
        margin-left: 0;
        text-align: center;
    }
    .how-we-use__item {
        width: 100% !important;
        height: 100%;
        padding: 15px 5px;
    }
    .how-we-use__item > div img {
        height: 70px;
    }
    .how-we-use__item:before {
        left: 0;
    }
    .increase__bottom button {
        white-space: inherit;
    }
    .video-step {
        margin: 20px auto;
    }
    .video-play {
        height: 200px;
    }
    .video-btn {
        right: 5px;
        left: 5px;
    }
    .calculator__head {
        margin: 100px 0 -13px;
        font-size: 38px;
    }
    .calculator__form {
        padding: 55px 15px;
    }
    .increase__top {
        margin: 0;
    }

}

@media (max-width: 475px) {
    .footer-index__phone {
        text-align: center;
    }

    .footer-index__phone span {
        margin-left: 0;
        font-size: 43px;
    }
}
@media (max-width: 375px) {
    .footer-services__top-right {
        width: 260px;
    }
}